ul, ol {
  list-style-type: disc;
  margin-left: 3.5rem;
  padding-left: 0;
  list-style-position: outside;
}

ul li, ol li {
  margin-bottom: 0.5rem;
  text-align: left;
  line-height: 1.5;
}

/* Add extra spacing for specific text */
p {
  margin-bottom: 1rem;
  line-height: 1.5;
}
